<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset">
      <h1><%= @cocktail.name %></h1>

      <h2><% @cocktail.doses.each do |dose| %></h2>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to "Delete dose", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <% end %>

      <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.input :description %>
      <%= f.input :ingredient_id, collection: @ingredients %>
      <%= f.submit %>
      <% end %>

      <%= link_to "Back to cocktails", cocktails_path(@cocktail)%>
    </div>
  </div>
</div>

